a
  font-weight: 700
  color: #333
  &:hover
  &:focus
    color: #666
  &:active
    color: #000
img
  border: none
::selection
  color: #fff
  text-shadow: none
  background: #259
.clearfix
  clear: both
html
  background: #fafafa
  font: 1em/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif
body
  width: 60em
  margin-left: 10px
header
  padding: 1em
#main
  position: relative
  animation: .3s ease-out reveal
  -webkit-animation: .3s ease-out reveal
  -moz-animation: .3s ease-out reveal
aside
  width: 11em
  position: fixed
  overflow: hidden
  left: 0
  top: 7em
  #nav
    position: relative
  a
    margin-right: 3em
    display: block
    text-align: right
    font-size: 1.4em
    font-weight: 300
    color: #999
    text-decoration: none
    position: relative
    animation: .3s ease-out reveal
    -webkit-animation: .3s ease-out reveal
    -moz-animation: .3s ease-out reveal
    &.active
      color: #333
      font-weight: 700
#items
  border-left: 2px solid #ccc
  position: relative
  left: 9em
  padding-left: 2em
  width: 50em
  &.docs::before
    content:""
    position: absolute
    display: block
    left: -.6em
    top: -.6em
    background: #fafafa
    border: 2px solid #ccc
    border-radius: 10px
    height: 10px
    width: 10px
    z-index: 2
  &.docs
    width: 44em
  &.intro
    border: none
    font-weight: 300
    color: #666
    p 
      font-size: 1.4em
    a
      text-decoration: none
      display: inline-block
      background: #259
      font-weight: bold
      color: #fff
      border-radius: .3em
      padding: 1em
      font-size: 1em
      margin: 0 .5em
      span
        display: block
        font-size: .7em
      &:hover
      &:focus
        background: #59c
      &:active
        background: #000
    .min
      p 
        font-size: 1em
      a 
        background: none
        color: #259
        display: inline
        margin: 0
        padding: 0
        &:hover
        &:focus
          color: #59c
        &:active
          color: #000
  .item
    padding-top: 1em
    position: relative
    animation: .5s ease-out reveal
    -webkit-animation: .5s ease-out reveal
    -moz-animation: .5s ease-out reveal
    h2
      margin-left: -2.2em
      background: #fafafa
      border: 2px solid #ccc
      border-radius: 30px
      padding: 0 .5em
      display: inline
      position: relative
      z-index: 2
      a 
        text-decoration: none
        &:hover
          &::before
            content:"\B6"
            position: absolute
            left: -.8em
            top: -.2em
    h3
      font-weight: 300
    p 
      color: #333
      font-size: .9em
    pre
      background: #fff
      border: 1px solid #ccc
      border-radius: .3em
      box-shadow: 0 1px #fff
      padding: 1em
      width: 50em
      overflow: scroll
    dt
      float: left
      margin-right: .3em
      code
        background: #feefbf
        color: #d96d11
      .output
        background: #def
        color: #069
    dd
      margin-left: 0
      line-height: 1.9
      margin-bottom: .4em
      font-size: .9em
      color: #333
      overflow: hidden
    .run-it
      float: right
.ie6
.ie7
  #items
    .item
       h2
         margin-left: 0
code
pre .c
  background: #f0f0f0
  border: 1px solid
  color: #666
  box-shadow: inset 0 1px #fff
  padding: .1em .3em
  border-radius: .2em
pre
  code
    background: #fff
    border: none
    box-shadow: none
    padding: 0
    border-radius: 0
.button
  background: #259
  color: #fff
  float: left
  padding: .4em 1em 
  font-weight: 700
  text-decoration: none
  border-radius: .3em
  &:hover
  &:focus
    background: #59c
    color: #fff
  &:active
    background: #000
    color: #fff
  &.done
    background: #ccc
    cursor: default
    color: #fff
pre
  .c
    display: inline-block
    margin-top: .4em
    color: #269
    background: #def
ul 
    margin: 0
    padding: 0 0 0 1.2em
  
@css {
   
@keyframes reveal {
  0% {
    opacity: 0;
    display: block
  } 100% {
    opacity: 1
  }
}
@-webkit-keyframes reveal {
  0% {
    opacity: 0;
    display: block
  } 100% {
    opacity: 1
  }
}
@-moz-keyframes reveal {
  0% {
    opacity: 0;
    display: block
  } 100% {
    opacity: 1
  }
}
}